<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.dao.BookDao">

    <!-- parameterType === parameterClass
        resultType === resultClass
        #{} === ##
        ${} === $$
     -->

    <select id="listBook" resultType="book">
        select t_id,t_name from t_books
    </select>
</mapper>   